* {
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: rgb(61,70,98);
}

.square {
  background: rgb(232,227,220);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: 12px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius:10px;
  box-shadow :0px 5px 0px 0px rgb(232,227,220); 
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.buttons{
  background:rgb(38, 45, 66);
  margin-left: 4px;
  height: 350px;
  width: 420px;
  border-radius: 15px;
}
.result{
  height: 80px;
  margin-left: 4px;
  margin-bottom: 12px;
  width: 420px;
  background: rgb(38,45,66);
  border-radius: 15px;
  font-size: 50px;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
}
.status {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 650;
  color: white;
}
.game {
  display: flex;
  flex-direction: row;
}


.game-info {
  margin-left: 20px;
}